@import "_variables";

body {
  font-family: $serif-fonts;
  font-size: $font-base-size;
}

p {
  color: $th-color;
}

input {
  color: $ty-color;
  background-color: darken($ty-color, 50%);
  border-radius: $border-radius;

  button {
    color: $t-color;
    border-color: $th-color;
    background-color: lighten($th-color, 50%);
    $border-radius: 20px;
    $border: 4px;
  }

  label {
    color: $th-color;
    border-radius: $border-radius;
    background-color: lighten($ty-color, 25%);
  }

  .radio {
    color: $th-color;
  }
}

a {
  color: $ty-color;
  text-decoration: none;
  $border-radius: 20px;
  $border: 4px;
}

img {
  border-radius: $border-radius;
}

textarea {
  font-family: $serif-fonts;
  font-size: $font-base-size;
  color: $th-color;
  border-radius: $border-radius;
}

h1 {
  font-family: $serif-fonts;
  font-size: $font-base-size * 2.25;
  color: $th-color;
}

h2 {
  font-family: $serif-fonts;
  font-size: $font-base-size * 2;
  color: $thh-color;
}

h3 {
  font-family: $serif-fonts;
  font-size: $font-base-size * 1.75;
  color: $ty-color;
}

h4 {
  font-family: $serif-fonts;
  font-size: $font-base-size * 1.5;
  color: $thh-color;
}

h5 {
  font-family: $serif-fonts;
  font-size: $font-base-size * 1.25;
  color: $th-color;
}

h6 {
  font-family: $serif-fonts;
  font-size: $font-base-size * 1;
  color: $t-color;
}

tr {
  font-family: $serif-fonts;
  font-size: $font-base-size;
  color: $th-color;
}

figcaption {
  font-family: $serif-fonts;
  font-size: $font-base-size;
  color: $ty-color;
}
